<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application>
        <!--suppress AndroidDomInspection -->
        <activity-alias
            android:name=".GodotAlias"
            android:targetActivity="com.godot.game.GodotApp"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <receiver
            android:name="org.godotengine.plugin.android.localnotificationscheduler.NotificationReceiver"
            android:enabled="true" />

        <receiver
            android:name="org.godotengine.plugin.android.localnotificationscheduler.BootReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.RESTART"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="org.godotengine.plugin.v1.LocalNotificationScheduler"
            android:value="org.godotengine.plugin.android.localnotificationscheduler.GodotAndroidPlugin"/>
    </application>

</manifest>
